@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */

html, body, #root {
  @apply h-screen w-screen bg-zinc-900;
}

#root {
  @apply antialiased;
}

/* Electron classes */

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.titlebar-button {
  -webkit-app-region: no-drag;
}

/* Scrollbar */

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-zinc-950 hover:bg-zinc-600;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}
